name: Tests (Deprecated)

on:
  workflow_dispatch:

jobs:
  deprecated:
    runs-on: ubuntu-latest
    steps:
      - name: Notice
        run: |
          echo "Deprecated workflow. Use .github/workflows/ci.yml instead."
